.container{
    position: relative;
}
.headings{
    height: 300px;
    background-color: #047aed;
    color: var(--fontWhite);
    position: relative;
    padding: 1em;
}
.headings::before{
    content: '';
    position: absolute;
    height: 75px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: var(--bgWhite);
    transform: skewY(3deg);
    /* -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg); */
  }
.headings::after {
  content: '';
  position: absolute;
  height: 75px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: var(--bgWhite);
  transform: skewY(-3deg);
  /* -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg); */
}
.container .post-form{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: var(--bgWhite2);
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    margin: 0.8em auto;
    max-width: 400px;
    box-shadow: 0 0 6px var(--grayShadow);
    border-radius: 0.4pc;
    top: -5em;
}
.container .post-form .new-photos-wrapper{
    position: relative;
    min-height: 200px;
    width: 90%;
    background-color: var(--bgWhite2);
}
.container .post-form .new-photos-wrapper .image-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('/static/svgs/undraw_coffee_with_friends_3cbj.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    background-blend-mode: difference;
}
.container .post-form .new-photos-wrapper .image-container img{
    position: relative;
    width: 100%;
    /* height: auto; */
    aspect-ratio: 16/9;
    object-fit: cover;
}

.container .post-form .field{
    position: relative;
    width: 100%;
    padding: 0.4em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .post-form .field label{
    background-color: var(--bgBlue);
    color: var(--fontWhite);
    width: 80%;
    padding: 0.5em 1em;
    margin: 0 auto;
    border-radius: 0.5pc;
    text-align: center;
    cursor: pointer;
}
.container .post-form .field textarea{
    outline: none;
    position: relative;
    border: 2px solid var(--lightBorder);
    border-color: var(--lightBorder);
    width: 90%;
    resize: none;
    padding: 0.5em;
    border-radius: 4px;
    font-size: 14px;
    transition: 0.3s;
}
.container .post-form .field textarea:hover,
.container .post-form .field textarea:focus{
    border: 2px solid var(--fontBlue);
    box-shadow: 0 0 1pt var(--bgBlue2Tr);
}
.container .post-form .submit-field{
    position: relative;
    width: 90%;
    padding: 0.4em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.container .post-form .submit-field .sendPhoto{
    position: relative;
    border: 2px solid var(--bgBlue2);
    outline: none;
    padding: 0.5em 1.2em;
    background-color: transparent;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: var(--fontBlack2);
    transition: 0.3s;
}
.container .post-form .submit-field .sendPhoto:hover{
    background-color: var(--bgBlue2);
    color: var(--fontWhite2);
}