.w-h-40{
    width: 40px;
    height: 40px;
}.w-h-50{
    width: 50px;
    height: 50px;
}
.w-h-150{
    width: 150px;
    height: 150px;
}
.w-h-200{
    width: 200px;
    height: 200px;
}
.w-h-250{
    width: 250px;
    height: 250px;
}
.w-500-h-300{
    width: 500px;
    height: 300px;
}
.height-500{
    min-height: 500px;
}
.cir-bor-rad{
    border-radius: 50%;
}
.centered-p{
    text-align: center;
} 
.full-width{
    width: 100%;
}
.padded-mini{
    padding: 0.5em;
}
code{
    color: red;
    background-color: transparent;
    user-select: none;
}
.cutoff-text{
    --max-lines: 4;
    --line-height: 1.4;
    height: calc(var(--max-lines) * 1em * var(--line-height));
    line-height: var(--line-height);
    overflow: hidden;
}
.cutoff-text-shift{    
    --max-lines: 4;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}
.cutoff-text-1{
    --max-lines: 1;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    /* --max-lines: 1;
    --line-height: 1.4;
    height: calc(var(--max-lines) * 1em * var(--line-height));
    line-height: var(--line-height);
    overflow: hidden; */
}
.obj-fit-cover{
    object-fit: cover;
}
.obj-fit-contain{
    object-fit: contain;
}
.darken{
    background-color: var(--darkBlueBg) !important;
    color: var(--fontWhite) !important;
}
.centered-img{
    margin: 0 auto;
}
.centered-el{
    position: relative;
    margin: 0 auto !important;
}
.pointed{
    cursor: pointer;
}
.bold{
    font-weight: 600;
}
.hidden{
    display: none !important;
}
.show-flex {
    display: flex !important;
}
.showSect{
    display: flex !important;
}
.elongated-btn{
    width: 70% !important;
    max-width: 300px !important;
}
.blue-el{
    color: var(--fontBlue);
}
.green-el{
    color: var(--fontGreen);
}
.y-scrollable{
    overflow-y: scroll;
}
.y-scrollable::-webkit-scrollbar{
    width: 7px;
    background-color: transparent;
}
.y-scrollable::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 4px;
}
.y-scrollable::-webkit-scrollbar-thumb{
    /* background-color: var(--bgBlue2); */
    background-color: var(--fontBlack);
    border-radius: 4px;
}
.y-scrollable::-webkit-scrollbar-thumb:hover{
    background-color: var(--fontBlack2);
}
.y-scrollable::-webkit-scrollbar-thumb:active{
    background-color: var(--bgBlue2);
}
.x-scrollable{
    overflow-x: scroll;
}
.x-scrollable::-webkit-scrollbar{
    height: 7px;
    background-color: transparent;
}
.x-scrollable::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 4px;
}
.x-scrollable::-webkit-scrollbar-thumb{
    /* background-color: var(--bgBlue2); */
    background-color: var(--fontBlack);
    border-radius: 4px;
}
.x-scrollable::-webkit-scrollbar-thumb:hover{
    background-color: var(--fontBlack2);
}
.x-scrollable::-webkit-scrollbar-thumb:active{
    background-color: var(--bgBlue2);
}
.empty-container{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.empty-container img{
    position: relative;
    min-width: 100px;
    max-width: 350px;
    height: auto;
}
.error-message{
    color: red;
    text-align: center;
    padding: 0.5em;
}
@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}
.requested-pair{
    background-color: var(--bgGreenDes) !important;
}
.verified-badge{
    font-size: 14px;
    color: var(--bgBlue);
}
.verified-badge-shift{
    font-size: 14px;
    color: var(--fontWhite2);
}
.messages-alert{
    position: fixed;
    bottom: 0.5em;
    left: 0.2em;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
}
.messages-alert li{
    list-style-type: circle;
    margin-left: 0.3em;
}
.underline-text {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: var(--pureWhite);
    font-size: 16px;
    font-weight: 600;
}
.underline-text:after {
    display: block;
    content: '';
    border-bottom: solid 3px var(--bgGreenDarkDes);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 0 100%;
}

/* styles for the property page  */

.showcase{
    position: relative;
    width: 100%;
    background: url("../img/homebg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    min-height: 400px;
}
.overlay{
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: flex-start;
    background-color:rgba(37, 42, 62, 0.453);
}
.showcase .showcase-headers{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
}
.showcase .showcase-headers h1{
    position: relative;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 0.5em;
    background-color: var(--bgWhiteTr);
    /* text-shadow: 1px 1px var(--fontWhite); */
    color: var(--bgBlue);
    font-size: 50px;
    font-weight: 600;
}
.showcase .showcase-headers .blockquote{
    position: relative;
    color: var(--fontWhite);
    font-size: 16px;
    margin: 0 auto;
    padding: 0.3em;
}
.showcase .showcase-search{
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
}
.showcase .showcase-search form{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.showcase .showcase-search form .field{
    width: 100%;
    position: relative;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--bgWhite);
    border-radius: 0.5pc;
    max-width: 600px;
}
.showcase .showcase-search form .field input{
    position: relative;
    width: 100%;
    padding: 0.5em;
    border: none;
    outline: none;
    font-size: 16px;
}
.showcase .showcase-search form .field button{
    position: relative;
    border: none;
    outline: none;
    padding: 0.5em;
    font-size: 16px;
}
.showcase .showcase-btns{
    position: relative;
    width: 90%;
    padding: 0.5em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.showcase .showcase-btns a{
    position: relative;
    text-decoration: none;
    padding: 0.6em 1em;
    font-size: 16px;
    border-radius: 5px;
    background-color: var(--bgBlue);
    color: var(--fontWhite);
}
.showcase .showcase-btns a:last-child{
    background-color: var(--bgWhite);
    color: var(--fontGreen);
}


.signup-blockquote{
    position: relative;
    width: fit-content;
    padding: 0.3em 1em;
}
.signup-blockquote h2{
    color: var(--mainBlue);
}
.signup-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--bgWhite3);
    padding: 1em;
}
.signup-form .step-row{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0.8em;
    background-color: var(--pureWhite);
    box-shadow: 0 0 5px 2px var(--grayShadow);
    border-radius: 4px;
}
.signup-form .step-row .step-col{
    font-weight: 600;
    font-size: 18px;
}
.signup-form .step-row .active-step{
    color: var(--bgBlue);
}
.signup-form .step-row .cleared-step{
    color: var(--fontGreen);
}
.signup-form .form-sects-wrapper{
    width: 100%;
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* margin: 0.4em; */
    padding: 0.8em;
    /* background-color: #f8f8f8; */
    /* box-shadow: 1px 1px 6px #bdbbbb; */
    animation: fade-up 500ms ease-in-out forwards;
}
.signup-form .form-sects-wrapper .showSect {
  animation: slide-kp 250ms 125ms ease-in-out both;
}
.signup-form .submit-form,.signin-form .submit-form,.signup-form .form-sects-wrapper button{
    position: relative;
    background-color: var(--bgGreenDes);
    border: none;
    transition: 0.4s;
    font-size: 16px;
    color: #f0f8ff;
    padding: 0.7em 1.4em;
    border-radius: 4px;
    transition: 0.4s;
    cursor: pointer;
    margin: 0.5em;
    font-family: 'roboto',serif;
    width: fit-content;
    height: fit-content;
}
.signup-form .submit-form:hover,.signup-form  .form-sects-wrapper button:hover{
    background-color: var(--fontBlue);
}

.signup-form .form-sect{
    width: 50%;
    position: relative;
}
.signup-form #icon-sect-1{
    background: url('/static/svgs/undraw_join_re_w1lh.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    width: 40%;
    margin-left: 3em;
}
.signup-form #icon-sect-2{
    background: url('/static/svgs/undraw_personal_opinions_re_qw29.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    width: 40%;
    margin-left: 3em;
}

/*styles for the login form */
.signin-form{
    position: relative;
}
.signin-wrapper .form-container{
    width: 80%;
    background-color: var(--bgWhite3);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signin-wrapper .form-container .signin-form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    margin: 0 auto;
    width: 90%;
}
.signin-wrapper .form-container .signin-form .field{
    width: 90%;
    max-width: 500px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.signin-wrapper .form-container .signin-form .field .submit-form{
    position: relative;
    background-color: var(--bgGreenDes);
    border: none;
    transition: 0.4s;
    font-size: 16px;
    color: #f0f8ff;
    padding: 0.5em 1em;
    border-radius: 4px;
    transition: 0.4s;
    cursor: pointer;
    margin: 0.5em;
    font-family: 'roboto',serif;
    width: fit-content;
    height: fit-content;
    text-align: center;
}




@media (max-width:600px) {
    .showcase .overlay{
        padding: 2em 1em;
    }
    .showcase .showcase-btns{
        width: 100%;
    }
    .showcase .showcase-headers h1{
        font-size: 35px;
    }
}
/* added code */
