{% extends 'main.html' %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/user-pairs-styles.css' %}" type="text/css">
    <title>My Successful Matches</title>
</head>
<div class="container pair-groups-wrapper">
    <h1>My Matches.</h1>
    <p>{{matches_count}} available.</p>
    <div class="pair-group x-scrollable">
        {% if matches_count == 0 %}
        <div class="empty-container">
            <span>No Matches available.</span>
        </div>
        {%endif%}

        {% for match in matches %}
        {% if match.host == request.user %}
        <div class="pair-request-card">
            <a href="{% url 'profiles' match.guest.id %}" class="user-info-wrapper">
                <div class="top">
                    <span class="bi-person-circle pair-type" title="This is a user."></span> 
                    <img src="{% static match.guest.profilePhoto.url %}" alt="guest_{{match.guest.id}}">
                </div>
                <div class="mid">
                    <h5>{{match.guest.get_full_name}} {% if match.guest.verified %}<i class="bi-patch-check-fill verified-badge"></i>{%endif%}</h5>
                    <!-- <div class="mid-tags"> -->
                        <p>{{match.guest.age}},{{match.guest.gender}},{{match.guest.location}}</p>
                    <!-- </div> -->
                </div>
                <div class="bottom">
                    <p class="cutoff-text-shift"> {{match.guest.bio|default:'No bio.'}}</p>
                </div>
            </a>
            <div class="pairing-actions">
                <a href="/chats?u={{match.guest.id}}" class="pair-action bi-chat"> Chat</a>
                <a href="{% url 'match-with' match.guest.id %}" class="pair-action">Cancel Match</a>
            </div>
        </div>
        
        {% else %}
        <div class="pair-request-card">
            <a href="{% url 'profiles' match.host.id %}" class="user-info-wrapper">
                <div class="top">
                    <span class="bi-person-circle pair-type" title="This is a user."></span> 
                    <img src="{% static match.host.profilePhoto.url %}" alt="guest_{{match.host.id}}">
                </div>
                <div class="mid">
                    <h5>{{match.host.get_full_name}} {% if match.host.verified %}<i class="bi-patch-check-fill verified-badge"></i>{%endif%}</h5>
                    <!-- <div class="mid-tags"> -->
                        <p>{{match.host.age}},{{match.host.gender}},{{match.host.location}}</p>
                    <!-- </div> -->
                </div>
                <div class="bottom">
                    <p class="cutoff-text-shift"> {{match.host.bio|default:'No bio.'}}</p>
                </div>
            </a>
            <div class="pairing-actions">
                <a href="/chats?u={{match.host.id}}" class="pair-action bi-chat"> Chat</a>
                <a href="{% url 'match-with' match.host.id %}" class="pair-action">Cancel Match</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}